@charset "UTF-8";
*
{
	font-size: 1rem;	
	margin: 0;
	padding: 0;
}
/**************************************/
/*   Style für die Hauptseite Index   */
/**************************************/

ection.index div.container0 
{
	margin: 2%;
	padding: 2%;
}

section.index div.container0 label hr
{
	margin-top: 1%;
	margin-bottom: 1%;
}
section.index div.container0 label div.rahmen h1
{
	text-align:center;
	font-size: 3rem;
	margin-bottom: 1%;
}
section.index div.container0 label div.rahmen h3
{
	font-size: 2rem;
	margin-bottom: .5%;
	margin-left: 24%;
}
section.index div.container0 label div.rahmen p
{
	width: 52%;
	font-size: 1rem;
	max-langht: 100;
	margin-left: 24%;
	margin-bottom: .7%;
}
section.index div.container0 label div.rahmen
{
	background-color: white;
	margin-top: 1%;
	padding: 1%;
	margin-left: 10%;
	border: 1px solid black;
	border-radius: 5px;
	width: 80%;
}

/**************************************/
/*style für die Navigation des Profils*/
/**************************************/
section.login div.sidenav ul
{
	display: block;
	list-style-type: none;
	margin:0;
	padding:0;
	width:100%;
	height:3%;
	overflow: auto;
	background-color: #333;
	border-top: 2px solid #bbb;
	padding-left: 41.325%;
}
section.login div.sidenav ul li
{
	float: right;
	text-align: center;
	border-left: 2px solid #bbb;
}
section.login div.sidenav ul li:last-child
{
	border-left: none;
}
section.login div.sidenav ul li a
{
	color: white;
	display:block;
	padding: 14px 16px;
	text-decoration: none;	
}
section.login div.sidenav ul li a:hover
{
	background-color: #111;
}

/******************/
/* Profil anzeige */
/******************/

section.login div.Profil
{
	background-color: white;
	margin-left: 35%;
	margin-right:35%;
	margin-top: 10%;
	margin-bottom:10%;
	border: 1px solid black;
	width: 30%;
	height: 80%;
}
section.login div.Profil h1
{
	margin-top: 2%;
	font-size: 2rem;
	text-align: center;
}
section.login div.Profil div.containerpro
{
	margin-top: 5%;
	margin-left: 3%;
	margin-right: 3%;
}
section.login div.Profil div.containerpro .edit
{
	font-size: 1rem;
	margin-top: 10%;
	margin-left: 42.5%;
	width: 15%;
	border: none;
	border: 1px solid black;
	outline: none;
	box-shadow: 0 2px 2px gray;
	border-radius: 3px 3px;
	text-decoration: none;
	margin-bottom: 5%;
	cursor: pointer;
}
section.login div.Profil div.containerpro .edit:hover
{
	background-color: #bbb;
	box-shadow: 0 5px 5px #bbb;
}
section.login div.Profil div.containerpro label.label2
{
	float: right;
}
section.login div.Profil div.containered
{
	display: none;
	margin-top: 5%;
	margin-left: 3%;
	margin-right: 3%;
}
section.login div.Profil div.containered input[type = text], div.Profil div.containered input[type = email]
{
	margin-top: 3%;
	border:none;
	border-bottom: 1.3px solid #7FFF00;
	outline: none;
	text-decoration: none;
	width: 94%;
}

section.login div.Profil div.containered .aendern
{
	font-size: 1rem;
	margin-top: 10%;
	margin-left: 42.5%;
	margin-right: 42.5%;
	margin-bottom: 5%;
	width: 15%;
	border: none;
	border: 1px solid black;
	border-radius: 3px 3px;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0 2px 2px gray;
	
}
section.login div.Profil div.containered .aendern:hover
{
	background-color: #bbb;
	box-shadow: 0 5px 5px #bbb;
}

/***************************************/
/* Style für die Passwordaendern seite */
/***************************************/

section.pwaendern div.conpw 
{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 35%;
	width:30%;
	height:50%;
	background-color: white;
	border: 2px solid black;
	box-shadow: 3px 3px gray;
}
section.pwaendern div.conpw h1
{
	text-align: center;
	font-size: 2rem;
	text-decoration: underline;
}
section.pwaendern div.conpw form
{
	margin-top: 30%;
	margin-bottom: 15%;
	margin-left: 1%;
	margin-right: 1%;
}
section.pwaendern div.conpw form input[type="password"]
{
	margin-top: 1rem;
	margin-left: 1%;
	font-size: 1.2rem;
	border: none;
	border-bottom: 1.5px solid #7FFF00;
	width: 98%;
	outline:none;
}
section.pwaendern div.conpw form input[type="submit"]
{
	text-align: center;
	margin-top: 15%;
	margin-left: 42.5%;
	width: 15%;
	border: none;
	border: 1px solid black;
	box-shadow: 0 2px 2px gray;
	outline: none;
	cursor: pointer;
}
section.pwaendern div.conpw form input[type="submit"]:hover
{
	background-color: gray;
	box-shadow: none;
	box-shadow: 0 5px 5px gray;
}

/***************************************/
/*      Style für Seite Bearbeiten     */
/***************************************/

section.bearbeiten div.sidenav ul
{
	display: block;
	list-style-type: none;
	margin:0;
	padding:0;
	width:100%;
	height:3%;
	overflow: auto;
	background-color: #333;
	border-top: 2px solid #bbb;
	padding-left: 41.325%;
}
section.bearbeiten div.sidenav ul li
{
	float: left;
	text-align: center;
	border-right: 2px solid #bbb;
}
section.bearbeiten div.sidenav ul li:last-child
{
	border-right: none;
}
section.bearbeiten div.sidenav ul li a
{
	color: white;
	display:block;
	padding: 14px 16px;
	text-decoration: none;	
}
section.bearbeiten div.sidenav ul li a:hover
{
	background-color: #111;
}
section.bearbeiten div.container0 
{
	margin: 2%;
	padding: 2%;
	width: 98%;
}
section.bearbeiten div.container0 a.neubtn
{
	padding: .5%;
	color: black;
	text-decoration: none;
	outline: none;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 5px 5px gray;
}
section.bearbeiten div.container0 a.neubtn:hover
{
	box-shadow: none;
	background-color: #bbb;
}
section.bearbeiten div.container0 hr
{
	margin-top: 1%;
	margin-bottom: 1%;
}
section.bearbeiten div.container0 div.rahmen h1
{
	text-align:center;
	font-size: 3rem;
	margin-bottom: 1%;
}
section.bearbeiten div.container0 div.rahmen h3
{
	font-size: 2rem;
	margin-bottom: .5%;
	margin-left: 15%;
}
section.bearbeiten div.container0 div.rahmen p
{
	width: 70%;
	font-size: 1rem;
	max-langht: 100;
	margin-left: 15%;
	margin-bottom: .7%;
}
section.bearbeiten div.container0 div.rahmen a
{
	width: 10%;
	text-decoration: none;
	outline: none;
	color: black;
	padding: .3%;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 2px 2px gray;

}
section.bearbeiten div.container0 div.rahmen a.edit
{
	margin-left: 45%;
}
section.bearbeiten div.container0 div.rahmen a.edit:hover , section.bearbeiten div.container0 div.rahmen a.delet:hover
{
	background-color: gray;
	box-shadow: none;
}
section.bearbeiten div.container0 div.rahmen
{
	background-color: white;
	padding: 1%;
	margin-left: 20%;
	border: 1px solid black;
	border-radius: 5px;
	width: 60%;
}


/***************************************/
/*       Style für Seite include       */
/***************************************/


/* loginnav style */
section.include div.sidenav ul
{
	display: block;
	list-style-type: none;
	margin:0;
	padding:0;
	width:100%;
	height:3%;
	overflow: auto;
	background-color: #333;
	border-top: 2px solid #bbb;
	padding-left: 41.325%;
}
section.include div.sidenav ul li
{
	float: left;
	text-align: center;
	border-right: 2px solid #bbb;
}
section.include div.sidenav ul li:last-child
{
	border-right: none;
}
section.include div.sidenav ul li a
{
	color: white;
	display:block;
	padding: 14px 16px;
	text-decoration: none;	
}
section.include div.sidenav ul li a:hover
{
	background-color: #111;
}


/* main style */
section.include div.container0
{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 2%;
	width: 50%;
}
section.include div.container0 form textarea[id="text"].titelin, section.include div.container0 form textarea[id="text"].summaryin
{
	margin-left: 2%;
	overflow: hidden;
}
/*section.include div.container0 form div.toolbar
{
	margin-left: 2%;
}
section.include div.container0 form div.toolbar button.btn
{
	list-style-type: none;
	margin:0;
	padding:0;
	width: 2rem;
	outline: none;
	text-decoration: none;
	border:none;
	border:1px solid black;
	box-shadow: 0 2px 2px gray;
	margin-bottom: .3%;
	cursor: pointer;
}
section.include div.container0 form div.toolbar button.btn:hover
{
	box-shadow: none;
	background-color: #bbb;
}*/
section.include div.container0 form hr
{
	margin-left:2%;
	width:100%;
}
section.include div.container0 form div.textfeld
{
	background-color: white;
	margin-left: 2%;
	width: 100%;
}
section.include div.container0 form div.textfeld textarea[id="contentto"]
{
	
	width: 100%;
	clear:both;
	float:none;
	padding:.5%;
}
section.include div.container0 form input[type="submit"]
{
	width: 60px; 
	margin-left:46%;
	margin-top: 2%;
}
section.include div.container0 form input[type="submit"].changbtn
{
	border: none;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 2px 2px gray;
}
section.include div.container0 form input[type="submit"].changbtn:hover
{
	background-color: gray;
	box-shadow:none;
}

/**************************************/
/* Style für Medien Geräte z.B. Handy */
/**************************************/

@media screen and (max-width: 800px) 
{
	section.index div.row div.column.side, body section.row div.column.middle  {width: 100%; clear:both; float:none; text-align: center;}
}